 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> As a person, I am an efficient communicator and an active listener with the ability to quickly analyze
and assess a situation, the pros and cons, the potential risks, and diplomatically take decisions. </p>
                </div>
                <div class="col-lg-4">
                    <p>Currently working as a software intern in  Cognizant Technologies, Bangalore. Being a freelance content writer, I worked for a startup named SelectDine, while I was still in college for about 10 months. </p>
             </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/RachanaVankayalapati" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
